name: Flutter CI

on:
  workflow_dispatch:

jobs:
  TESTING:
    name: Setting up the environment
    runs-on: self-hosted
    permissions:
      contents: write
    container:
      image: archlinux/base
    steps:
      - uses: actions/checkout@v2
      - name: Set up Java
        run: |
          sudo pacman -Sy --noconfirm jdk12-openjdk
      - name: Set up Flutter
        run: |
          sudo pacman -Sy --noconfirm flutter
          flutter config --no-analytics
          flutter precache
      - run: flutter clean
      - run: flutter pub get

  BUILD_APP:
    name: Build For Android
    runs-on: self-hosted
    container:
      image: archlinux/base
    steps:
      - uses: actions/checkout@v2
      - name: Set up Java
        run: |
          sudo pacman -Sy --noconfirm jdk12-openjdk
      - name: Set up Flutter
        run: |
          sudo pacman -Sy --noconfirm flutter
          flutter config --no-analytics
          flutter precache
      - run: flutter pub get
      - run: flutter clean
      - run: flutter build apk --target-platform android-arm,android-arm64,android-x64 --split-per-abi
      - name: Push to Releases
        id: create-new-release
        uses: ncipollo/release-action@v1.10.0
        with:
          artifacts: "build/app/outputs/apk/release/*.apk"
          tag: v1.0.${{ github.run_number }}
          token: ${{ secrets.TOKEN }}
